<footer class="bg-ifood-gray text-black py-6 border-t border-gray-400">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">

    <div class="block sm:flex items-center mb-4 md:mb-0">
      <img src="assets/ifood-logo-no-text.svg" alt="Logo" class="h-10 w-auto m-auto mb-2 sm:m-0" />
      <p class="pl-4 text-gray-500">Feito com ❤️ por Artur Campos Miranda.</p>
    </div>

    <div class="flex space-x-6 mb-4 md:mb-0">
      <a href="https://www.facebook.com/iFood" target="_blank" class="hover:text-ifood-red transition">Facebook</a>
      <a href="https://www.instagram.com/ifoodbrasil/" target="_blank"
        class="hover:text-ifood-red transition">Instagram</a>
      <a href="https://x.com/iFood" target="_blank" class="hover:text-ifood-red transition">Twitter</a>
      <a href="https://www.linkedin.com/company/ifood" target="_blank"
        class="hover:text-ifood-red transition">LinkedIn</a>
    </div>


  </div>
  <div class="block text-center text-gray-400 my-4">
    <p>© Copyright 2025 - iFood - Todos os direitos reservados iFood com Agência de Restaurantes Online S.A. </p>
  </div>
</footer>